@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.footer {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
  background-color: #CEB7B3;
  margin-left: 0;
  margin-bottom: 0;
  padding: 10px 0 10px 0;
}

.linkedin {
    color:  black;
}
